/* TYPOGRAPHY */
@import url('https://rsms.me/inter/inter.css');

html 
{ 
	font-family: 'Inter', sans-serif; 
}


@supports (font-variation-settings: normal) 
{
	html 
	{ 
		font-family: 'Inter var', sans-serif; 
	}
}

h1, h2, h3, h4, h4, h6, p 
{
	font-family: 'Inter', 'Inter var';
	font-style: normal;
}

h1
{
	font-weight: 800;
	font-size: 72px;
	line-height: 92px;
}

h2
{
	font-weight: bold;
	font-size: 48px;
	line-height: 64px;
}

h3 
{
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
}

h4
{
	font-size: 24px;
	line-height: 36px;
}

h5 
{
	font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
	line-height: 28px;
	margin-top: 4rem;
}

h6
{
	font-size: 14px;
	line-height: 20px;
}

p 
{
	font-size: 14px;
	line-height: 20px;
}

.navbar-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.li .menu-item {
	margin-right: 1rem;
}

.snt-container .navbar a {
    color: rgba(255, 255, 255, 1) !important;
    font-family: 'Inter', 'Inter var';
	font-style: normal;
	margin-right: 2rem;
}

.snt-container .row, .snt-container .col
{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.fixed-top {
    opacity: 0.8;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: black;
    z-index: 1030;
}

.footer-first-section {
	margin-bottom: 10rem;
}

.footer-logo{
	margin-top: 4rem;
}

.footer-second-section {
	margin-top: 4rem;
    margin-left: 4rem;
}

.footer-third-section {
	margin-top: 4rem;
    margin-left: -4rem;
}

.footer-icons{
	flex: 0 0 11%;
    display: flex;
    margin-top: 4rem;
    margin-left: 13rem;
    margin-right: 10rem;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    max-width: 20%;
}

.facebook-icon {
	background: url(../imgs/simple-line-icons_social-facebook.png) no-repeat;
    height: 30px;
    width: 20%;
}

.twitter-icon {
	width: 30%;
    background: url(../imgs/simple-line-icons_social-twitter.png) no-repeat;
    height: 30px;
}

.youtube-icon {
	background: url(../imgs/simple-line-icons_social-youtube.png) no-repeat;
    height: 30px;
    width: 30%;
}

.snt-users-photo-text {
	background: url(../imgs/1\ column\ PHOTO\ +\ TEXT.png) no-repeat;
	width: 100%;
	height: 668px;
	background-repeat: round;
}

.snt-users {
	width: 100%;
	height: 668px;
	background: url('../imgs/image\ landscape.png') no-repeat;
	background-size: contain;
}

.snt-users-header {
	width: 100%;
	background-size: cover;
	background-color:#215CAA;
	height: 668px;
}

.snt-users-header h1 {
	margin-top: 240px;
	margin-bottom: 30px;
}

.snt-users-image1{
	background: url(../imgs/demo\ image\ 1.png) no-repeat;
	height: 16rem;
	margin-top: 5rem;
}

.snt-users-image2{
	background: url(../imgs/istockphoto-1147229526-2048x2048\ 1.png) no-repeat;
	height: 16rem;
	margin-right: -390px;
    width: 100%;
    float: right;
    margin-top: -16rem;
}

.snt-users-image3{
	background: url(../imgs/demo\ image\ 3.png) no-repeat;
	height: 16rem;
	margin-right: -780px;
    width: 100%;
    float: right;
    margin-top: -16rem;
}

.snt-header 
{
	width: 100%;
	height: 668px;
	background: url('../imgs/big_banner_2560px.png') no-repeat center;
	background-size: cover;
	background-color:rgba(0, 0, 0, 0.5);
}

.snt-header h1
{
	margin-top: 240px;
	margin-bottom: 30px;
}

.snt-marketers, .snt-venus, .snt-artists, .snt-publishers
{
	width: 100%;
	height: 720px;
	color: white;
}

.snt-marketers
{
	background:url('../imgs/marketer-bg.png') no-repeat #EC008C;
	background-position: top right;

}

.snt-venus
{
	background:url('../imgs/venus-bg.png') no-repeat #215CAA;
	background-position: top left;
}

.snt-artists {
    background: url(../imgs/for_3dartists_bottom_right_background.png) cyan no-repeat;
    background-position: bottom right;
}

.snt-publishers {
    background: url(../imgs/for_creators_bottom_left_background.png) black no-repeat;
    background-position: bottom left;
}

.offset-2 {
    margin-left: 16.666667%;
    margin-top: -16rem;
}

.row-google-app {
	justify-content: center;
}

.button :focus{
	outline: none;
}

.google-play {
	background: url(../imgs/google_play_badge.png) no-repeat;
	height: 40px;
	width: 10rem;
	border: none;
}

.app-store {
	background: url(../imgs/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917\ 1.png) no-repeat;
	height: 40px;
	width: 10rem;
	border: none;
}

.button-users{
	position: absolute;
    width: 182px;
    height: 48px;
    left: calc(50% - 182px/2 - 108px);
    background: #FFFFFF;
    border-radius: 40px;
	top: 400px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #EC008C;
	
}

.button-marketers {
	position: absolute;
	width: 182px;
	height: 48px;
	left: calc(50% - 182px/2 - 105px);
	top: 400px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #215CAA;
	background: #FFFFFF;
	border-radius: 40px;
}

.button-artists {
	position: absolute;
	width: 182px;
	height: 48px;
	left: calc(50% - 182px/2 - 105px);
	top: 400px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #00AEEF;
	background: #FFFFFF;
	border-radius: 40px;
}

.button-creators {
	position: absolute;
	width: 182px;
	height: 48px;
	left: calc(50% - 182px/2 - 105px);
	top: 400px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: black;
	background: #FFFFFF;
	border-radius: 40px;
}

.vertical-center 
{
  min-height: 100% !important;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.snt-title-1 h2
{
	margin: 130px 0 30px 0;
}

.snt-title-2 h2
{
	margin: 130px 0 130px 0;
}

.snt-title-2
{
	background-color: black;
	color: white;
}

.goog

.p-top {
	margin-top: 2rem;
}

.p-bottom {
	margin-bottom: 0rem;
}

.snt-boxes 
{
	background: url('../imgs/img_placeholder_lg.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
	height: 820px;
	color: white;
}

.snt-card-box 
{
	padding: 50px 20px 50px 20px;
	background-color: #EC008C;
	margin-bottom: 160px;
}

.snt-achivments {
	padding: 70px 0 70px 0;
}

.snt-achivments img 
{
	margin-bottom: 30px;
}

.snt-ul-red-lg
{
	border-bottom: 8px solid #EC008C;
	color: #EC008C;
}

.snt-ul-red
{
	border-bottom: 4px solid #EC008C;
	color: #EC008C;
}

.snt-ul-blue
{
	border-bottom: 4px solid #215CAA;
	color: #215CAA;
}

.snt-ul-white
{
	border-bottom: 4px solid white;
	color: #ffffff;
}

.snt-middle
{
	margin-bottom: 120px;;
}

.column {
	float: left;
	width: 50%;
	padding: 10px;
	height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }